---
import { SITE } from '~/utils/config';
---
<span class="text-5xl logo_header mr-0"></span>
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  {SITE?.name}
</span>
